.DS_Store
**/.DS_Store

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
crash.log
crash.*.log
.terraformrc
terraform.rc
backend.hcl

# Python
__pycache__/
.pycache/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Environment files
.env
.env.*
!.env.example

# IDE/editor
.idea/
.vscode/
