fastapi==0.115.4
uvicorn[standard]==0.30.6
azure-servicebus~=7.12
opencensus-ext-azure==1.1.13
azure-identity>=1.16.0
opentelemetry-api>=1.22.0
opentelemetry-sdk>=1.22.0
opentelemetry-exporter-azure-monitor>=1.0.0b14