name: Destroy
on: workflow_dispatch

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REGION: eastus
  PREFIX: devsecopsaca
  RG: rg-devsecops-aca
  TFSTATE_SA: stdevsecopsacatfstate
  TFSTATE_CONTAINER: tfstate
  TFSTATE_KEY: devsecopsaca.tfstate
  QUEUE_NAME: tasks

jobs:
  destroy:
    runs-on: ubuntu-latest
    permissions: { id-token: write, contents: read }

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: hashicorp/setup-terraform@v3

      - name: Destroy infra + resource group
        shell: bash
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        run: bash scripts/gha/destroy.sh
